i {
    color: blanchedalmond;
}


a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: white;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

li1{
    font-style: italic!important; 
}

li2 {
    font-style: italic!important; 
}